body {
    background-image: url("fundo.jpg");
    background-position: center;
    background-size: cover;
}

#cabecalho {
    color:whitesmoke;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: black 2px 2px 5px;
}

   

#coluna1 {
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    display: block;
    margin-bottom: 20px; 
    min-width: 270px;
    margin-left: 20px;
}

#coluna2 {
    max-width: 100%;
    display: flex;
    justify-content:center; /* os itens são alinhados ao centro do eixo principal */
    align-items: center; /* os itens são centralizados no eixo transversal */
    flex-wrap: wrap; /* define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas */
    flex-shrink: 1; /* define a proporção com que um item deve encolher caso seja necessário */ 
}

input[type=submit] {
    box-shadow:black 2px 2px 5px;
    border-radius: 5px;
    text-align: center;
}

input[type=text] {
    border-radius: 5px;
    padding-left: 5px;  
}

#rodape {
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

#rodape ul li img {
    width: 40px;
    height: 40px;
}
  
#rodape ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rodape ul li {
    padding-left: 20px;
    padding-right: 20px;
}

#efeito-img {
    position:relative;top:0;
    transition: all .2s ease-in-out
}

#efeito-img:hover {
    top:-4px;
    box-shadow:0 4px 3px rgb(43, 42, 42)
}

#lista {
    list-style-type: none;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#borda {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: black 2px 2px 5px;
}

#legenda {
    font-weight: bold;
    font-size: 15px;
}
  
  